#contact label {
  font-variation-settings: "CASL" 0.25, "wght" 400;
  font-size: clamp(
    1.2rem,
    1.1rem + calc(min(100vw, var(--max-width)) * 0.005),
    1.4rem
  );
  line-height: 1.5em;
  padding-bottom: 0.25em;
}

#contactForm {
  margin-top: 1em;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 1em 2em;
}

.contact-field {
  display: flex;
  flex-direction: column;
}

.contact-field input,
.contact-field textarea {
  background: inherit;
  border: 0.1em solid var(--border-color);
  padding: 0.5em;
  border-radius: 1em;
}

.contact-field textarea {
  min-height: 8em;
  overflow-y: hidden;
  height: auto;
  resize: none;
}

.contact-field {
  flex: 1 1 25ch;
}

.contact-field.full {
  flex: 1 1 100%;
}
