:root {
  --max-width: 960px;
}

html {
  overflow-y: scroll;
  scroll-behavior: smooth;
}

body {
  /* Dimensions */

  /* Fonts */
  font-family: "Recursive", "Verdana", sans-serif;
  font-variation-settings: "CASL" 0.25, "wght" 375;
  font-size: clamp(
    1rem,
    0.9rem + calc(min(100vw, var(--max-width)) * 0.005),
    1.2rem
  );
  line-height: 1.5em;

  /* Colours */
  background-color: var(--background-color);
  color: var(--primary-text-color);
}

main {
  max-width: var(--max-width);
  width: 100%;
  margin: auto;
}

main > section {
  scroll-margin-top: 2em;
  padding: 2em;
}

h1 {
  font-variation-settings: "CASL" 0.75, "wght" 425;
  font-size: clamp(
    2rem,
    1.8rem + calc(min(100vw, var(--max-width)) * 0.01),
    2.4rem
  );
  line-height: 1.5em;
}

h2 {
  font-variation-settings: "CASL" 0.75, "wght" 425;
  font-size: clamp(
    1.6rem,
    1.4rem + calc(min(100vw, var(--max-width)) * 0.01),
    2rem
  );
  line-height: 1.5em;
}

a {
  text-decoration: underline;
}

a:hover {
  cursor: pointer;
  color: var(--secondary-text-color);
}

button:hover {
  cursor: pointer;
}
