.about {
  text-align: justify;

  & img {
    float: right;
    max-width: min(14em, calc(25dvw));
    font: inherit;
    height: auto;
    /* bit abritrary, but it sits below the heading start */
    margin: 5em 0 1em 1em;

    @media (max-width: 540px) {
      display: none;
    }
  }
  & ul {
    margin-block-start: 0.5em;
  }
}
