body {
  /* Dimensions */
  min-height: 200vh;

  /* Fonts */
  font-family: "Recursive", "Verdana", sans-serif;
  font-variation-settings: "CASL" 0.25, "wght" 400;
  font-size: 1.2rem;
  line-height: 1.5em;

  /* Colours */
  background-color: var(--background-color);
  color: var(--primary-text-color);
}

main {
  max-width: 960px;
  width: 100%;
  margin: auto;
}
